@font-face {
  font-family: 'Minecraft';
  src: url('../font/Minecraft.ttf')  format('truetype');
}

html, body {
  font-family: 'Minecraft', Fallback, sans-serif;
  height: 100%;
}

body {
  background: url("../img/cover.gif");
  display: flex;
  justify-content: center;
  align-items: center;
}
